{%load crispy_forms_tags%}

{% load staticfiles %}
{% if user.is_authenticated %}
<style>
    #disable_button{
        visibility:hidden;
    }
</style>
<link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet">
<link href="{%static 'css/navbar-static-top.css'%}" rel="stylesheet">
<script src="{%static 'js/ie-emulation-modes-warning.js'%}"></script>

<script src="{%static 'chats/js/jquery.min.js' %}"></script>

<script src="{%static 'chats/js/jquery.gracefulWebSocket.js' %}"></script>

    <script>
    $(document).ready( function() {
    window.chat = {}; //variable

    //Change ip according to given interface
    chat.ws = $.gracefulWebSocket("ws://127.0.0.1:9000/ws");//ws initialization
    console.log(chat.ws);
    chat.send = function (message) {                //
      chat.ws.send(message);                      // data sent to server
      
    }

    chat.ws.onopen = function() {
    {% if user.is_superuser %}
        chat.send('list:{{list}}');
    {%else%}
        chat.send('{{user.username}}: hello');
    {% endif %}
    }

    chat.ws.onmessage = function (event) {
      var messageFromServer = event.data;        //data from server
      var split_data =messageFromServer.split(':');
      //$('input:text').val('hi');
      if(split_data[0]=='admin' && split_data[1]=='disable') {
          {%  if not user.is_superuser %}
            $('#chat_form').submit();
          {% endif %}
{#          $('input:text').val(split_data[1]);#}
      }
      var list_element = document.createElement('li');
      list_element.innerHTML = messageFromServer;
      $("#message_list ul").prepend(list_element);
    };

    var inputBox = document.getElementById("inputbox");
    var name = document.getElementById("hidden");
    inputbox.addEventListener("keydown", function(e) {
      if (!e) { var e = window.event; }

      if (e.keyCode == 13) {
        e.preventDefault(); // sometimes useful
        var msg= name.value.concat(":"+inputbox.value);
        chat.send(msg);
        inputbox.value="";
      }
    }, false);
    $('#enable_button').click( function(){
        enableButton = document.getElementById('enable_button');
        enableButton.style.visibility='hidden';
        chat.send(name.value.concat(":enable:{{question_id}}"));
        disableButton = document.getElementById('disable_button');
        disableButton.style.visibility='visible';


    });
    $('#disable_button').click( function(){
        disableButton = document.getElementById('disable_button');
        disableButton.style.visibility='hidden';
        chat.send(name.value.concat(":disable:{{question_id}}"));
        enableButton = document.getElementById('enable_button');
        enableButton.style.visibility='visible';


    });
    });

 </script>
{%include 'nav.html'%}
<div class="row">
  <div class="col-xs-6 col-md-4">
    <h1> {{ user.username }} </h1>
    <input type="hidden" value= '{{user.username}}' id="hidden"/>
    {% if user.is_superuser %}
    <input type="button" id="enable_button" value="Enable Chat" >
    <input type="button" id="disable_button" value="Disable Chat" >
    {%endif%}
        <form id='chat_form' method="post" action="/">{%  csrf_token %}
    <textarea name="term" id="inputbox" cols="40" rows="4"></textarea>

    <div id="message_list">
      <ul style="list-style: none;">
      </ul>
    </div>
        </form>
  </div>
  <div class="col-xs-6 col-md-4">      
    <div class="panel panel-default">
      <div class="panel-heading">
        Question
      </div>
      <div class="panel-body ">
        <p><b>Question:</b>{{ question.question }}</p>
        <p><img src="{{  question.image.url }}" height="250" width="250"/></p>
        <p><b>Option_a:</b>{{ question.option_a }}</p>
        <p><b>Option_b:</b>{{ question.option_b }}</p>
        <p><b>Option_c:</b>{{ question.option_c }}</p>
        <p><b>Option_d:</b>{{ question.option_d }}</p>
      </div>
    </div>  
  </div>
  {% if not user.is_superuser %}      
  <div class="col-xs-6 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        User's Opinions
      </div>
      <div class="panel-body ">
        {% for users,options in mapped_users.items %}
            <p>{{ users }} : {{ options }}</p>

        {% endfor %}
      </div>
    </div>    
  </div>
  {% endif %}
</div>

{#    <input id="demo_text" type='text' name="name" />#}
{% else %}
You have not logged in:
<br><a href="accounts/login/">Login</a>
{%endif%}
